

h1 {
   font-size: 1cm;
  
}

body {
    background-image: url(https://www.multipanel.co.uk/assets/Uploads/_resampled/SetWidth720-CalacattaMarble.jpg);
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: black;
    font-family: font-family: 'Barlow', sans-serif;
    
}

#clock {
    background-image: url(https://protectaqua.com/Admin/Pictures/fd4a197e-a9ee-4606-b16f-ac7725a32274Ah%C5%9Fap%20Nedir%20ve%20Neden%20Tercih%20Edilir-B.jpg);
    border: none;
    width: 8em;
    height: 8em;
    padding: 5em;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 1cm;


}